/* :root {
  --main-blue100: #E3FDFD;
  --main-blue200: #CBF1F5;
  --main-blue300: #A6E3E9;
  --main-blue400: #71C9CE;
  --main-blue500: #339094;
} */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box; 
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

/*start*/
body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

li {
  list-style: none;
}

/* custom link color font */
a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: auto;
}

.sub-container {
  width: 85%;
  margin: auto;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-branding {
  display: flex;
  align-items: center;
}

.nav-branding img {
  width: 11%;
}

/* for hambuger menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin:  5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

@media(max-width:1600px) {
  .container {
    width: 100%;
  }
}


@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .nav-menu {
    position: fixed;
    left: -100%;
    /* top原本70 有錯要改 */
    top: 10px; 
    gap: 0;
    flex-direction: column;
    background-color: #2C81CF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    justify-content: center;
  }

  .nav-item {
    margin: 30px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu a {
    color: white;
  }

  .nav-menu a:hover {
    text-decoration: line-through;
  }
}

/* use js to prevent color diff */
header.bg{
  background-color: #2C81CF;
}

@media(min-width:1024px) {
  .head {
    background-color: #2C81CF;
  }
  .nav-menu a {
    color: white;
  }
}

/* home section ------------------------------------------------*/
#home {
  margin-top: 70px;
  /* background: linear-gradient(to right, #ddeded, #E3FDFD); */
  width: 100%;
  height: 90vh;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  text-align: center;
  color: #333333;
}

.welcome-content > p {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
  .welcome-section {
    flex-direction: column;
  }
}
