{% extends 'base1.html' %}

{% block content %}
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-center">
                  <div class="logo-container">
                    <img src="../static/img/logo.png" alt="Logo" width="200" height="200">
                  </div>
                  <p class="mb-0">Change your password</p>
                  <div class="card-body">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      <small class="text-danger" style="font-size: 14px;">{{ message }}</small>
                    </div>
                    {% endfor %}
                    <form role="form" action="/password_change/" method="post">
                    {% csrf_token %}
                      <div class="mb-3">
                        <input type="password" id="old_password" name="old_password" class="form-control form-control-lg" placeholder="Old Password" aria-label="Password">
                      </div>
                      <div class="mb-3">
                        <input type="password" id="new_password1" name="new_password1" class="form-control form-control-lg" placeholder="New Password" aria-label="Password 1">
                      </div>
                      <div class="mb-3">
                        <input type="password" id="new_password2" name="new_password2" class="form-control form-control-lg" placeholder="Input New Password Again" aria-label="Password 2">
                      </div>
                      <ul>
                        <li>At least 8 characters</li>
                        <li>Contains at least one uppercase letter</li>
                        <li>Contains at least one lowercase letter</li>
                        <li>Contains at least one numeric digit</li>
                      </ul>
                      <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" style="background-color: #52b8e1">Change Password</button>
                    </form>
                    <script src="" async defer></script>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('../static/img/sign.jpg');
          background-size: cover;">
                <span class="mask bg-gradient-primary opacity-3"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"We make your event easy"</h4>
                <p class="text-white position-relative">The more effortless the event looks, the more effort the planner actually put into the process.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
      {% endblock content %}
